
body {
  font-family: 'Georgia', serif;
  background-color: #f3ebe1;
  color: #4b382a;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url('https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993_640.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f3ebe1;
  box-shadow: 0 0 10px rgba(7, 6, 6, 0.9);
  border-radius: 10px;
}

#title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #3c2f27;
}

#img-div {
  text-align: center;
  margin-bottom: 1rem;
}

#image {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 770px rgba(147, 110, 73, 0.7);
  display: block;
}

#img-caption {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

#intro {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}


h3, h4 {
  color: #6a4e3b;
  margin-top: 2rem;
}


ul {
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}
